/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(Blossomskin.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
.ds4 .back, .ds4 .start {
    background: url(startmod.png);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    /* width: 28px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 28px 0;
}

.ds4 .button {
    background: url(facemod.png);
}

.ds4 .stick {
    background: url(stickmod.png);
}
.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}
.ds4 .face {
    background: url(dpadmod.png);
}
/*END PS4 Controller Styling*/

